@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background: #fff;
  position: relative;
  margin: 0;
  min-height: 100%;
}


.wrapper .navbar{
  display: flex;
  align-items: center;
  height: 53px;
  background-color:#ffffff;
  padding: 1%;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 9;
}
.wrapper .navbar-logo{
  color: #246dec;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;

}
.notification_wrap{
  width: 292px;
  margin: 22px -128px 6px 558px;
}

.notification_wrap .notification_icon{
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	color: #246dec;
  
}

.notification_wrap .notification_icon .fa-bell{
	cursor: pointer;
}

.notification_wrap .dropdown{
  width: 344px;
  height: auto;
  background: #ffffff;
  border-radius: 9px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.125);
	margin: 1px -33px;
  padding: 0px;
  position: absolute;
  display: none;
  border: 1px solid #c9c9c9;
}

.notification_wrap .dropdown .notify_item{
	display: flex;
	align-items: center;
	padding: 8px 5px;
	border-bottom: 1px solid #dbdaff;
}

.notification_wrap .dropdown .notify_item:last-child{
	border-bottom: 0px;
}

.notification_wrap .dropdown .notify_item .notify_img{
	margin-right: 15px;
}

.notification_wrap .dropdown .notify_item .notify_info p{
	margin-bottom: 5px;
}

.notification_wrap .dropdown .notify_item .notify_info p span{
	color: #605dff;
	margin-left: 5px;
}

.notification_wrap .dropdown .notify_item .notify_info .notify_time{
	color: #c5c5e6;
	font-size: 12px;
}

.notification_wrap .dropdown:before{
	content: "";
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	border: 15px solid;
	border-color: transparent transparent #fff transparent;
}

.notification_wrap .dropdown.active{
	display: block;
}

.wrapper .profile-dropdown{
  position: relative;
  width: fit-content;
  margin-left: auto;
}
.wrapper .profile-dropdown-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid #246dec;
  border-radius: 50px;
  cursor: pointer;
  width: 136px;
  height: 41px;
  transition: box-shodow 0.2s, background-color 0.2s;
}
.wrapper .profile-dropdown-btn:hover{
  background-color: rgba(255, 255, 255, 0.384);
  box-shadow: rgb(255, 255, 255);
}
.wrapper .profile-img{
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: url(../../img/logo.jpg);
  background-size: cover;
}
.wrapper .profile-img i{
  position: absolute;
  right: 92px;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: rgb(45, 255, 45);
}
.wrapper .profile-dropdown-btn span{
  margin: 0 0.5rem;
  margin-right: 0;
  color: #246dec;
}
.wrapper .profile-dropdown-list{
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  box-shadow: rgb(226, 221, 221);
  max-height: 0;
  overflow: hidden;
}
.wrapper .profile-dropdown-list.active{
  max-height: 500px;
}
.wrapper .profile-dropdown-list hr{
  border: 0.5px solid gray 
}
.wrapper .profile-dropdown-list-item{
  padding: 0.5rem 0 0.5rem 1rem;
  transition: background-color 0.2s, padding-left 0.2s;
}
.wrapper .profile-dropdown-list-item:hover{
  padding-left: 1.5rem;
  background-color: rgba(255, 255, 255, 0.384);
}
.wrapper .profile-dropdown-list-item a{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
}
.wrapper .profile-dropdown-list-item a i{
  margin-right: 1rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #246dec;
  color: white;
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
}


@media (max-width: 1000px){

  .wrapper .navbar-logo {
    position: absolute;
}
.notification_wrap {
  margin: 22px 0 6px 0;
}


.wrapper .profile-dropdown {
position: relative;
width: 100%;
margin-left: auto;
}

.wrapper .profile-dropdown-btn {
display: flex;
align-items: center;
justify-content: space-between;
padding-right: 1rem;
font-size: 0.9rem;
font-weight: 500;
border: none;
border-radius: 50px;
cursor: pointer;
width: 136px;
height: 41px;
transition: box-shadow 0.2s, background-color 0.2s;
}
.wrapper .profile-dropdown-btn span{
  display: none;
}
.wrapper .profile-dropdown-list {
position: absolute;
top: 68px;
width: 220px;
right: 0;
background-color: rgb(241, 241, 241);
border-radius: 10px;
box-shadow: rgb(226, 221, 221);
max-height: 0;
overflow: hidden;
  }
}

  