
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background: #fff;
  position: relative;
  margin: 0;
  min-height: 100%;
}
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 60px 20px;
  padding-left: 271px;
}
.mid-title-2 {
  background: #246dec;
  display: grid;
  padding: 10px;
  border-radius: 20px;
  margin: 0px 80px;
}
.mid-title-2 > p {
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: 600;
}
.container {
  display: flex;
  width: 77vw;
  height: 79vh;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  margin: 8px 0px;
  padding: 30px;
}
a {
  text-decoration: none;
  color: black;
}
.container span {
  margin: 29px 46px 12px 15px;
  height: 25px;
  font-size: 23px;
  font-weight: 600;
}
.col-md-2 {
  width: 455px;
  height: 435px;
  margin: 79px 0px 0px 0px;
}
label {
  font-weight: 600;
  padding: 0px;
  margin: 78px 0px 10px 10px;
  height: 30px;
}
input {
  display: block;
  font-size: 14px;
  width: 292px;
  border: 1px solid black;
  height: 34px;
  margin: 5px 0px 0px 29px;
  border-top-style: none;
  border-inline: none;
}
.drop-zone {
  width: 215px;
  height: 216px;
  padding: 0px;
  display: inline;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed #246dec;
  border-radius: 10px;
  margin: 48px 0px 0px 148px;
}

.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
}

.drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 11px;
  text-align: start;
}
span.drop-zone__prompt {
  font-size: 19px;
  font-weight: 700;
}


@media (max-width: 1220px){

  .drop-zone {
	width: 70%;
 }
}
.drop-zone {
  width: 175px;
  height: 183px;
  padding: 0px;
  display: inline;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed #246dec;
  border-radius: 10px;
  margin: -177px 0px 0px 404px;
}

.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
}

.drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 11px;
  text-align: start;
}
input[type="submit"] {
  border: none;
  background: #246dec;
  width: 112px;
  border-radius: 9px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}







footer {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: groove;
}