/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(210, 32%, 99%);
  --text-color: hsl(210, 4%, 55%);
  --dark-color-light: hsla(210, 4%, 4%, .1);
  --white-color-light: hsla(210, 4%, 99%, .1);
  --gradient-x: linear-gradient(90deg,
              hsla(0, 0%, 0%, 0),
              hsl(210, 4%, 64%),
              hsla(0, 0%, 0%, 0));
  --gradient-y: linear-gradient(0,
              hsla(0, 0%, 0%, 0),
              hsl(210, 4%, 64%),
              hsla(0, 0%, 0%, 0));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  
}

/*=============== LAYOUT ===============*/
.container {
  margin-inline: 1.5re;
}

.main {
  padding-top: 3rem;
}

.bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #246DEC;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: var(--z-fixed);
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--gradient-x);
}

.header__container {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__toggle {
  font-size: 1.50rem;
  color: var(--white-color);
  cursor: pointer;
  margin: 18px;
}

.header__logo {
  width: 70px;
}

nav {
  
  overflow: hidden;
}
nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: #7aabff;
  color: black;
}

.login-button {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 27px;
  cursor: pointer;
  border-radius: 21px;
}
.login-button:hover {
  background-color: #7aabff;
}
/* main container */


.slider {
    width: 97%;
    height: 385px;
    overflow: hidden;
    margin: -16px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
figure{
  position: relative;
  left: 0;
  width: 400%; 
  animation: 10s slide infinite;
}

.slide{
  position: relative;
  width: 25%; 
  float: left;
}

.slide h1{
  position: absolute;
  font-size: 3em;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img {
  width: 100%;
  height: 363px;
}

@keyframes slide{
  0%{
      left:0;
  }
  10%{
      left:0;
  }
  20%{
      left:-100%;
  }
  30%{
      left:-100%;
  }
  40%{
      left:-200%;
  }
  50%{
      left:-200%;
  }
  55%{
      left:-300%;
  }
  65%{
      left:-300%;
  }
  66%{
      left:-200%;
  }
  74%{
      left:-200%;
  }
  75%{
      left:-100%;
  }
  85%{
      left:-100%;
  }
  90%{
      left:0;
  }
  1000%{
      left:0;
  }
}
.official {
  width: 515px;
  margin-left: auto;
  margin-right: auto;
}
.official img {
  border-radius: 26px;
  height: 372px;
}
.logo-1 {
  margin: auto;
}
.logo-1 img {
      margin-left: auto;
      margin-right: auto;
   
      display: block;
      width: 160px;
}
center {
  margin-top: 57px;
  color: black;
  font-family: serif;
}
.his {
  margin-right: 15px;
  color: black;
  font-family: serif;
  text-align: center;
  margin-left: 15px;
  margin-top: 16px;
}
div#salaysay {
  padding-top: 25px;
  font-size: smaller;
}
div#salaysay img {
     width: 399px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}
div#kalagayan {
  padding-top: 25px;
  font-size: smaller;
}
div#bisyon {
  padding-top: 25px;
  font-size: smaller;
}
div#misyon {
  padding-top: 25px;
  font-size: smaller;
}
div#core {
  padding-top: 25px;
  font-size: smaller;
}
p {
  padding-top: 15px;
  font-size: medium;

}
h1 {
  margin-left: 21px;
  margin-top: 16px;

}
.chairman{
  text-align: center;
}
.kagawad1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.kagawad1 > div {
  flex-basis: 33.33%; /* Create three columns */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 430px) {
  .sidebar {
    width: 232px;
    padding-inline: 1rem;
  }
  .sidebar__account {
    flex-direction: column;
    row-gap: .5rem;
    text-align: center;
  }
  .sidebar__account i {
    margin: 0;
  }
  .official {
    width: 319px;
}
.official img {
  height: 260px;
}
.logo-1 img {
  margin-top: -76px;
  width: 126px;
}

nav {
  margin-bottom: 2px;
}

nav a {
  display: block;
  margin: 0;
  text-align: center;
  margin: -14px;
}

.login-button {
  margin-top: 0px;
  width: 23%;
  margin-right: 5px;
}
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header__container {
    height: calc(var(--header-height) + 1.5rem);
  }
  .header__toggle {
    font-size: 1.5rem;
  }

  .sidebar {
    left: 0;
    top: calc(var(--header-height) + 1.5rem);
    width: 300px;
    transition: width .4s;
  }
  .sidebar__container {
    padding-bottom: 4rem;
    overflow: hidden;
  }
  .sidebar__logo {
    transition: padding .4s;
  }
  .sidebar__link {
    position: relative;
    padding-inline: 1.5rem;
    column-gap: 2rem;
  }
  .sidebar__link i {
    font-size: 1.5rem;
  }
  .sidebar__link-name {
    transition: color .4s, opacity .4s;
  }
  .sidebar__title {
    position: relative;
  }
  .sidebar__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-x);
    opacity: 0;
  }
  .sidebar__account {
    column-gap: 1rem;
    padding-left: .5rem;
    margin-top: auto;
  }
  .sidebar__logo-text, 
  .sidebar__title, 
  .sidebar__title::after, 
  .sidebar__title span {
    transition: opacity .4s;
  }
  .sidebar__link-floating {
    display: block;
    font-size: 10px;
    width: max-content;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    transition: color .4s, opacity .4s;
    opacity: 0;
  }

  .main {
    padding-left: 0;
    padding-top: 6rem;
    transition: padding .4s;
  }

  /* Reduce sidebar */
  .show-sidebar {
    width: 120px;
  }

  .show-sidebar .sidebar__logo {
    padding-left: 1rem;
  }

  .show-sidebar .sidebar__logo-text,
  .show-sidebar .sidebar__link-name  {
    opacity: 0;
  }

  .show-sidebar .sidebar__title span {
    opacity: 0;
    pointer-events: none;
  }

  .show-sidebar .sidebar__title::after {
    opacity: 1;
  }

  .show-sidebar .sidebar__link:hover .sidebar__link-floating {
    opacity: 1;
    color: var(--white-color);
  }
  
  .show-sidebar .main {
    padding-left: 300px;
  }

  /* Add padding main */
  .main-pd {
    padding-left: 120px;
  }
}
footer {
  font-size: 15px;
  padding: 7px;
  text-align: center;
  position: static;
}